@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(220, 236, 250);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.list-barn {
  width: 100%;
}

.hide {
  opacity: 0;
  /*
  alternatively:
  opacity: 0%;
  filter: opacity(0%);
*/
}

.main__header {
  margin-top: 96px;
}

.user__login {
  display: flex;
  justify-content: flex-end;
}

/**********/
/* Background image */
/**********/

.bg-img {
  position: relative;

  background-image: url("../img/hero.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: fixed; */
  height: 80vh;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 80vh;
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}
